sudo : required
services:
  - docker

before_install: 
  - docker build -t karma80/docker-react -f Dockerfile.dev .
script:
  - docker run karma80/docker-react npm test 

deploy: 
  provider: elasticbeanstalk
  region: "eu-north-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-north-1-618837277617"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY



